# Xcode project files
libs/iR301U.xcworkspace/xcuserdata/
libs/source/iRockey301_ccid.xcodeproj/xcuserdata/
Sample Code/demo/call_lib.xcodeproj/xcuserdata/
Sample Code/demo/call_lib.xcodeproj/project.xcworkspace/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
#*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
